<div class="topnav">
  <div class="topnav-logo"><a href="{{ '/' | relative_url }}">blund</a></div>
  <div class="menu">
    <a href="{{ '/' | relative_url }}" {% if page.title == "All" %}class="active"{% endif %}>All</a>
    <a href="{{ '/design' | relative_url }}" {% if page.title == "Design" %}class="active"{% endif %}>Design</a>
    <a href="{{ '/branding' | relative_url }}" {% if page.title == "Branding" %}class="active"{% endif %}>Branding</a>
    <a href="{{ '/identity' | relative_url }}" {% if page.title == "Identity" %}class="active"{% endif %}>Identity</a>
  </div>
</div>
